// Base

@import "base/variables";
@import "base/mixins";
@import "base/reset";

// Components

@import "components/typography";
@import "components/grid";
@import "components/buttons";
@import "components/navigation";
@import "components/sections";
@import "var";

// projects

@import "projects/urbanbeach";

body {
	margin: 0;
}
p {
	@include p ;
}
#home-sweet-home {
	height: 100%;
	overflow: auto;
	.hero-main {
		.image-container {
			width: 100%;
			height: 100%;
			.main-image {
				background-image: url("https://static.pexels.com/photos/38568/apple-imac-ipad-workplace-38568.jpeg");
				background-size: cover;
				background-position: center center;
			}
		}
		.home-section-title {
			position: absolute;
			z-index: 10;
			width: 80%;
			left: 10%;
			top: calc(50% - 85px);
			h1 {
				@include h1;
				text-transform: uppercase;
				color: #fff;
				&:before {
					content: '';
					background: #E66A75;
					height: 5px;
					width: 30px;
					display: block;
					margin-bottom: 40px;
				}
			}
			p {
				color: #fff;
			}
		}
	}
	.page-main-info {
		width: 80%;
		display: inline-block;
		margin: 8rem auto 0 auto;
		padding: 0 10%;
		h2 {
			@include h1;
			text-transform: uppercase;
			color: $main_colour;
			margin: 0 0 2rem 0;
			&:before {
				content: '';
				background: $accent_colour;
				height: 5px;
				width: 30px;
				display: block;
				margin-bottom: 40px;
			}
		}
		h3 {
			@include h1;
			text-transform: uppercase;
			color: $main_colour;
			margin: 0 0 2rem 0;
			text-align: center;
			&:before {
				content: '';
				background: $accent_colour;
				height: 5px;
				width: 30px;
				display: block;
				margin: 0 auto 40px auto;
			}
		}
		p {
			text-align: left;
		}
		.software {
			display: inline-block;
			padding: 0;
			li {
				width: 50%;
				float: left;
				list-style: none;
				img {
					width: 50%;
					display: block;
					margin: 0 auto;
				}
			}
		}
		.work-area {
			.work-row {
				.caption {
					& > h2.project-title {
						@include h1;
						text-transform: uppercase;
						color: $main_colour;
						margin: 0 0 2rem 0;
						text-align: center;
						&:before {
							content: '';
							background: none;
							height: 0;
							width: 0;
							display: block;
							margin: 0;
						}
					}
				}
			}
		}
		.view-more {
			position: relative;
			a {
				margin: 0 auto;
				position: relative;
				display: inline-block;
				color: $main_colour;
				left: 50%;
				margin-left: -51px;
				text-decoration: none;
				p {
					text-decoration: none;
					&:after {
						content: " ";
						position: absolute;
						height: 2px;
						background: $accent_colour;
						width: 100%;
						bottom: 0;
						right: 0;
					}
				}
			}
		}
	}
	.social-panel {
		height: 100%;
		width: calc(100% / 10);
		position: fixed;
		top: 0;
		right: 0;
		z-index: 10;
		opacity: 1;
		@media screen and (max-width: 767px) {
			display: none;
		}
		.social-wrap {
			position: absolute;
			transform: translateX(-50%);
			left: 50%;
			top: calc(50% - 15rem);
			width: 6rem;
			.social {
				transform: rotate(90deg) translateX(50%);
				display: inline-block;
				position: absolute;
				width: 32rem;
				right: -13rem;
				padding: 0;
				margin: 0;
				li {
					float: left;
					list-style-type: none;
					text-transform: lowercase;
					padding: 0 30px;
					a {
						text-decoration: none;
						@include nav-bar-fonts;
						font-size: 14px;
						text-transform: lowercase;
					}
				}
			}
		}
	}
}
.main-title-bar {
	height: 100%;
	width: calc(100% / 10);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	opacity: 1;
	@media screen and (max-width: 767px) {
		display: none;
	}
	.main-title {
		position: absolute;
		top: calc(50%);
		left: 50%;
		text-align: center;
		display: inline-block;
		z-index: 3;
		transform: translateX(-50%);
		width: 185px;
		a {
			transform: rotate(-90deg);
			position: relative;
			display: block;
			@include nav-bar-fonts;
			text-transform: uppercase;
			cursor: pointer;
		}
	}
}

.switch-page-wrap {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	bottom: 3rem;
	width: 5rem;
	span {
		transform: rotate(90deg) translateX(-50%);
		display: inline-block;
		position: absolute;
		width: 10rem;
		right: -2.5rem;
	}
}
.flip {
  color: #fff;
}
.flip.scrolling {
  color: $main_colour;
  transition: 0.5s;
}
.scrolling {
  color: #fff;
}
.hero-main {
	position: relative;
	display: block;
	width: 100%;
	height: 100vh;
	align-items: center;
	webkit-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	clear: left;
	.section-title {
		h1 {
			@include h1;
			position: absolute;
			left: 0;
			right: 0;
			text-align: center;
			bottom: 8%;
			text-transform: uppercase;
		}
		p {
			@include h2;
			position: absolute;
			left: 0;
			right: 0;
			text-align: center;
			bottom: 6%;
			text-transform: uppercase;
		}
	}
	.page-scroll {
		@include p;
		font-size: 12px;
		position: absolute;
		bottom: 3%;
		left: 0;
		right: 0;
		display: block;
		margin: 0 auto;
		width: 250px;
		text-align: center;
	}
	.image-container {
		display: block;
		width: 80%;
		height: 80%;
		margin: 0 auto;
		.main-image {
			display: block;
			position: relative;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background-image: url("..//images/web-head.jpg");
			background-position: center center;
			background-size: cover;
		}
	}
}
.page-main-info {
	width: 80%;
	display: block;
	margin: 100px auto;
	&:before {
		display: table;
		content: '';
	}
	p {
		text-align: center;
	}
}

.work-area {
	position: relative;
	width: 100%;
	margin: 0 auto;
	.work-row {
		width: 100%;
		display: block;
		margin: 0 auto 50px auto;
		&:before {
			display: table;
			content: '';
		}
		&:after {
			content: '';
			display: table;
			clear: both;
		}
		.caption {
			& > h2 {
				@include h1;
				text-transform: uppercase;
				color: $main_colour;
				margin: 0 0 2rem 0;
				text-align: center;
				&:before {
					content: '';
				}
			}
		}
		.col-img-main, .col-img-half {
			@include col-img-main;
			position: relative;
		  float: left;
		  overflow: hidden;
		  width: 100%;
		  color: #000000;
		  text-align: center;
		  -webkit-perspective: 50em;
		  perspective: 50em;
			cursor: pointer;
			h2 {
				@include h1;
				text-transform: uppercase;
			}
			h4 {
				@include h2;
			}
			img {
			  max-width: 100%;
			  vertical-align: top;
			}
		}
		.col-img-half {
			@include col-img-half;
			width: 48%;
			.gallery-image {
				width: 100%;
			}
		}
	}
}
.left {
	margin-right: 2%;
}
.right {
	margin-left: 2%;
}


.col-img-main *, .col-img-half * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.col-img-main .caption, .col-img-half .caption {
  top: 50%;
  left: 20px;
  right: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}
.col-img-main h2,
.col-img-main h4,
.col-img-half h2,
.col-img-half h4 {
  margin: 0;
}
.col-img-main:after, .col-img-half:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}
.col-img-main a, .col-img-half a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
.col-img-main:hover .caption,
.col-img-main.hover .caption,
.col-img-half:hover .caption,
.col-img-half.hover .caption  {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.col-img-main:hover:after,
.col-img-main.hover:after,
.col-img-half:hover:after,
.col-img-half.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.9;
}

.menu-toggle {
  width: 40px;
  height: 35px;
  position: fixed;
  top: 20px;
  right: 3.5%;
  cursor: pointer;
	z-index: 15;
	@media screen and (max-width: 767px) {
		top: 0;
	}
  &.on {
    .one {
      transform: (rotate(45deg) translate(7px, 7px));
			background: $accent_colour;
    }
    .two {
      opacity: 0;
    }
    .three {
      transform: (rotate(-45deg) translate(8px, -10px));
			background: $accent_colour;
    }
  }
}
.one,
.two,
.three{
  width: 100%;
  height: 2px;
  margin: 9px auto;
  backface-visibility: hidden;
  transition: 0.3s;
	background: #fff;
}
nav {
	position: absolute;
	top: 10%;
	width: 100%;
	ul {
	  margin: 0;
	  padding: 0 25px;
	  list-style: none;
	  margin: 4em auto;
	  text-align: right;
	  &.hidden {
	    display: none;
	  }
		.huge {
			a {
				@include h1;
		    transition: 0.5s;
		    text-decoration: none;
		    color: white;
		    font-size: 3em;
		    line-height: 1.5;
		    width: 100%;
		    display: block;
		    &:hover {
		      color: $accent_colour;
		    }
		  }
		}
		.small {
			a {
				@include h1;
		    transition: 0.5s;
		    text-decoration: none;
		    color: white;
		    font-size: 1em;
		    line-height: 1.5;
		    width: 100%;
		    display: block;
		    &:hover {
		      color: $accent_colour;
		    }
		  }
		}
	}
}
.active {
	color: $accent_colour!important;
}
.menu-section {
  &.on {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #3D414C;
	position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
	z-index: 15;
	overflow: hidden;
  }
}
#not-home-sweet-home {
	.social-panel {
		height: 100%;
		width: calc(100% / 10);
		position: fixed;
		top: 0;
		right: 0;
		z-index: 10;
		opacity: 1;
		@media screen and (max-width: 767px) {
			display: none;
		}
		.social-wrap {
			position: absolute;
			transform: translateX(-50%);
			left: 50%;
			top: calc(50% - 15rem);
			width: 6rem;
			.social {
				transform: rotate(90deg) translateX(50%);
				display: inline-block;
				position: absolute;
				width: 32rem;
				right: -13rem;
				padding: 0;
				margin: 0;
				li {
					float: left;
					list-style-type: none;
					text-transform: lowercase;
					padding: 0 30px;
					a {
						text-decoration: none;
						@include nav-bar-fonts;
						font-size: 14px;
						text-transform: lowercase;
						color: $main_colour;
					}
				}
			}
		}
	}
	h3 {
		@include h1;
		text-transform: uppercase;
		color: $main_colour;
		margin: 0 0 2rem 0;
		text-align: center;
		&:before {
			content: '';
			background: $accent_colour;
			height: 5px;
			width: 30px;
			display: block;
			margin: 0 auto 40px auto;
		}
	}
}
