.urbanbeach {
  .hero-main {
  	position: relative;
  	display: block;
  	width: 100%;
  	height: 100vh;
  	align-items: center;
  	webkit-justify-content: center;
  	justify-content: center;
  	-ms-flex-pack: center;
  	-webkit-box-align: center;
  	-webkit-align-items: center;
  	-ms-flex-align: center;
  	clear: left;
  	.section-title {
  		h1 {
  			@include h1;
  			position: absolute;
  			left: 0;
  			right: 0;
  			text-align: center;
  			bottom: 8%;
  			text-transform: uppercase;
  		}
      p {
  			@include h2;
  			position: absolute;
  			left: 0;
  			right: 0;
  			text-align: center;
  			bottom: 6%;
  			text-transform: uppercase;
  		}
  	}
  	.image-container {
  		display: block;
  		width: 80%;
  		height: 80%;
  		margin: 0 auto;
  		.main-image {
  			display: block;
  			position: relative;
  			left: 0;
  			top: 0;
  			right: 0;
  			bottom: 0;
  			width: 100%;
  			height: 100%;
  			background-image: url("..//images/urban-beach.png");
        background-position: center center;
  		}
  	}
  }

  .work-area {
  	position: relative;
  	width: 100%;
  	margin: 0 auto;
  	.work-row {
  		width: 100%;
  		display: block;
  		margin: 0 auto 50px auto;
  		.col-web-main {
  			img {
          @include col-img-main;
        }
  		}
  	}
  }
}
