@mixin h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 1px;
}
@mixin h2 {
  font-family: 'Droid Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 1px;
}
@mixin nav-bar-fonts {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 2px;
}
@mixin p {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 1px;
}
@mixin col-img-main {
  width: 100%;
}
@mixin col-img-half {
  width: 50%;
  float: left;
}
